* {
    margin: 0;
    padding: 0;
}

.conatiner {
    padding: 15px;
    box-sizing: border-box;
    background-color: rgb(232, 232, 232);
    /* border: 1px solsid black; */
    /* overflow: hidden; */
    margin-top: 5px;
}

.pic {
    background-size: cover;
    background-position: center;
}

.heads {
    text-align: center;
    padding: 13px;
    /* border-bottom: 2px solid grey; */
    margin-bottom: 8px;
    color: darkcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    margin-bottom: 8px;
    
}

#pack {
    width: auto;
    height: auto;
    padding: 15px;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
